systems-papers/authors/
systems-papers/sys-papers/
systems-papers/semantic-scholar/

__pycache__
*/.pyc
*/.DS_Store
*/.Rhistory

data/dict_gB.json
data/old/citedsdict.json
data/old/citeds.json

large/
